html,
body {
  text-align: center;
  font-family: 'helvetica';
  color: #FF8A33;
}

mark {
  background-color: #33FFFF;
  color: black;
}

#film {
  text-align: left;
  font-family: 'helvetica';
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}

#projects {
  text-align: left;
  font-family: 'helvetica';
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}
